**/*.exe
**/*.dll
**/*.pdb
**/*.testlog
**/*.v2
**/*.suo
**/*.obj
**/*.cache
**.props
**/obj/**
**/bin/**
*.props
eulergetic_tests/obj/**
eulergetic_tests/bin/**
Eulergetic/obj/**
Eulergetic/bin/**
.vs/**

