*.exe
*.dll
*.pdb
*.testlog
*.v2
*.suo
*.obj
*.cache
*.props

/bin/**
/obj/**
Eulergetic/bin/**
Eulergetic/obj/**
Eulergetic/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.runtimeconfig.json
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.runtimeconfig.dev.json
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.pdb
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.exe
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.dll
Eulergetic/bin/Debug/netcoreapp3.1/Eulergetic.deps.json
.vs/Eulergetic/v16/TestStore/0/000.testlog
.vs/Eulergetic/v16/.suo
.vs/Eulergetic/DesignTimeBuild/.dtbcache.v2
Eulergetic/obj/Debug/netcoreapp3.1/apphost.exe
*.cache
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.dll
Eulergetic/obj/**
Eulergetic/obj/project.nuget.cache
Eulergetic/obj/Eulergetic.csproj.nuget.g.props
Eulergetic/obj/Eulergetic.csproj.nuget.dgspec.json
Eulergetic/obj/*
eulergetic_tests/obj/*
eulergetic_tests/obj/**
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.exe
eulergetic_tests/bin/**
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.dll
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.exe
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.pdb
eulergetic_tests/bin/Debug/netcoreapp3.1/eulergetic_tests.dll
eulergetic_tests/bin/Debug/netcoreapp3.1/eulergetic_tests.pdb
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.assets.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.csproj.CoreCompileInputs.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.csprojAssemblyReference.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.dll
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.genruntimeconfig.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.pdb
eulergetic_tests/obj/eulergetic_tests.csproj.nuget.dgspec.json
eulergetic_tests/obj/eulergetic_tests.csproj.nuget.g.props
eulergetic_tests/obj/project.assets.json
eulergetic_tests/obj/project.nuget.cache
eulergetic_tests/obj/project.nuget.cache
eulergetic_tests/obj/project.assets.json
eulergetic_tests/obj/eulergetic_tests.csproj.nuget.g.props
eulergetic_tests/obj/eulergetic_tests.csproj.nuget.dgspec.json
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.pdb
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.genruntimeconfig.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.dll
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.csprojAssemblyReference.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.csproj.CoreCompileInputs.cache
eulergetic_tests/obj/Debug/netcoreapp3.1/eulergetic_tests.assets.cache
eulergetic_tests/bin/Debug/netcoreapp3.1/eulergetic_tests.pdb
eulergetic_tests/bin/Debug/netcoreapp3.1/eulergetic_tests.dll
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.pdb
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.exe
eulergetic_tests/bin/Debug/netcoreapp3.1/Eulergetic.dll
eulergetic_tests/obj/project.nuget.cache
