*.exe
*.cache
*.dll
*.pdb
*.cache
*.nuget.cache
*.CopyComplete
*.obj
*.bin
*.user
*.sln.*
*.suo
*.testlog
*.v2
**.props
/Eulergetic/obj/**
/Eulergetic/bin/**
/eulergetic_tests/obj/**
/eulergetic_tests/bin/**
**/\Debug/\**
*.cache
*.json
*.dll
